.bg-pages {
  background: url("/public/bgImage.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.animatebtn {
  /* width: 100px;
  height: 100px;
  background: red;
  position: relative; */
  border-radius: 18px;
  animation: mymove 2s infinite ease-in-out;
}

@keyframes changeGradientOrigin {
  0% {
    /* background-position: 0% 0%; */
    background: radial-gradient(circle at 50% 0%, #ff6600, #f8f7f5);
  }
  25% {
    /* background-position: 10% 10%; */
    background: radial-gradient(circle at 150% 150%, #ff6600, #f8f7f5);
  }
  50% {
    /* background-position: 100% 100%; */
    background: radial-gradient(circle at 50% 150%, #ff6600, #f8f7f5);
  }
  75% {
    /* background-position: 100% 100%; */
    background: radial-gradient(circle at 0% 150%, #ff6600, #f8f7f5);
  }
  100% {
    /* background-position: 0% 0%; */
    background: radial-gradient(circle at 30% 0%, #ff6600, #f8f7f5);
  }
}

.animated-radial {
  background: radial-gradient(circle at 30% 0%, #ff6600, #f8f7f5);
  animation: changeGradientOrigin 2s infinite ease-in-out;
}

.card {
  border-radius: 20px;
  box-shadow: 0 0 1px hsl(0deg 0% 0% / 0.075), 0 0 2px hsl(0deg 0% 0% / 0.075),
    0 0 4px hsl(0deg 0% 0% / 0.075), 0 0 8px hsl(0deg 0% 0% / 0.075),
    0 0 16px hsl(0deg 0% 0% / 0.075);
  transform-origin: -120% 80%;
}

.btnanimate {
  border-top: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  animation: border-top 3s infinite;
}

@keyframes border-top {
  0% {
    width: 0px;
    height: 0px;
  }

  50% {
    width: 100%;
    height: 0px;
  }
  10% {
    width: 100%;
    height: 100%;
  }
}
